# Types are defined in env.d.ts
VITE_DEBUG=true
VITE_LOG=true

# Firefox based
# FIREFOX_BIN_PATH=C:\\Program Files\\Zen Browser\\zen.exe
# FIREFOX_PROFILE_PATH=C:\\Users\\Admin\\AppData\\Roaming\\zen\\Profiles\\toeesn15.Default (release)

# Warn: Don't uncomment dupplicate keys
# Chrome
# CHROME_BIN_PATH=C:\\Users\\Admin\\Downloads\\chrome-win64\\chrome.exe
# CHROME_PROFILE_PATH=C:\\Users\\Admin\\AppData\\Local\\Google\\Chrome\\User Data\\Default

# Edge users
# CHROME_BIN_PATH=/usr/bin/microsoft-edge-stable
# CHROME_PROFILE_PATH=/home/mlemingcapoo/.config/microsoft-edge/Default

# These are just examples, get your own paths!