# Types are defined in env.d.ts

# FIREFOX_BIN_PATH=C:\\Program Files\\Zen Browser\\zen.exe
# FIREFOX_PROFILE_PATH=C:\\Users\\Admin\\AppData\\Roaming\\zen\\Profiles\\toeesn15.Default (release)

# CHROME_BIN_PATH=C:\\Users\\Admin\\Downloads\\chrome-win64\\chrome.exe
# CHROME_PROFILE_PATH=C:\\Users\\Admin\\AppData\\Local\\Google\\Chrome\\User Data\\Default